 html{
background:url(Neon\ Galaxy\ background.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

img{
width:150px;
}

ul{
position: fixed;
top: 0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover{
  opacity: 0.5;
}