 html{
background:linear-gradient(-165deg,magenta,lawngreen,rgb(94, 140, 255),rgb(215, 58, 147));
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
 }

/*nav-bar*/
abbr{
  text-decoration: none;
}

#brand-logo{
width:200px;
}

ul{
top: 0;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
  float: right;
}

li a {
  font-size: 50px;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li:hover{
  opacity: 0.5;
}
/*Hero Section*/

.hero-box{
  position:relative;
  display:block;
  min-height: 85vh;
}

.hero-text{
  position: absolute;
}

#hero-title{
  font-size: 75px;
  font-family: "Chakra Petch", sans-serif;
  max-width: 11em;
}

#hero-desc{
  font-size: 25px;
font-family: "Yuji Syuku", serif;
font-weight: 600;
  max-width: 20em;
  margin-top:-40px;
}

.hero-pic{
  position: absolute;
  margin-left:30em;
  margin-top: 50px;
}
/*hero section*/

.box-sections{
  position:relative;
  display:block;
  min-height: 85vh;
}

.wrapper{
  margin-top: 100px;
  margin-bottom:100px;
}

#box-sections-title{
  font-size: 75px;
  text-align:center;
}

.text-title{
  font-size: 60px;
}

.text-box{
  font-size: 40px;
}

.box-img{
float: left;
border-radius: 10px;
margin-right:15px;
width:200px;
}



