body{
    background:linear-gradient(-145deg,gold,rgb(182, 83, 83),orange);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    
    h1{
    text-align: center;
     font-size: 120px;
    color: rgb(255, 0, 0);
    }
    
    .quick-look{
    border: solid black;
    
    }
    
    img{
    position: absolute;
    top:270px;
    }
    
    .turn-stats{
    position: relative;
    left: 27%;
    }