body{
background:linear-gradient(-145deg,lightcyan,gray,lightpink);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h1{
text-align: center;
 font-size: 120px;
color: darkblue;
}

.quick-look{
border: solid black;

}

img{
position: absolute;
border-radius: 50%;
}

.merc_stats{
position: relative;
left: 27%;
}

